<title>${title}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<style>
    body {
        background-color: rgb(255, 210, 127);
        text-align: center;
    }

    h1 {
        text-align: center;
        font-weight: 900;
        color: rgba(240, 255, 240, 0.678);
    }

    h4 {
        color: rgb(4, 47, 75);
    }

    img {
        border-radius: 75%;
        width: 530px;
        height: 650px;
    }

    ul {
        list-style-type: none;
    }

    a {
        font-weight: 400;
        color: rgb(255, 0, 76)
    }
</style>